<style type="text/css">

/*@media (max-width: 800px) {   для разрешения экрана от 470 до 930 пикселей 
  .block {
  	display: none;
  }
}*/

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.vka_parent {
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 600px;
	overflow: auto;
	display: none;
	margin-left:50%;
}

.vka_parent_display {
	display: block !important;
}

.vka_block {
	position: relative;
	border: 3px solid #4b77a8;
	margin-top: 23px;
	z-index: 5;
	background: white;
	height: 70%;
	max-width: 500px;
	max-height: 1000px;
	border-radius: 10px 10px 5px 5px;
}

.vka_block:after, .block:before {
	bottom: 100%;
	left: 75%;
	margin-bottom: 0.1px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.vka_block:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 20px;
	margin-left: -20px;
}
.vka_block:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #4b77a8;
	border-width: 24px;
	margin-left: -24px;
}

.vka_content {
	z-index: 999;
	padding: 2% 2% 2% 2%;
	margin: 2% 2% 2% 2.5%;
	font-size: 15pt;
	overflow: auto;
	width: 90%;
	height: 86%;
	border: solid;
	border-color: #4e4da9;
	border-width: 1px;
}
.vka_title {
	color:black;
	border-radius: 7px 7px 0 0;
	height: 5%;
	margin: 5% 3% 2% 3%;
}
.vka_section {
	margin-right: 90%; 
}
.vka_innerBlock {
	z-index: 0;
	margin-top: 1%;
	padding: 5% 0 0% 0%;
	background-color: white;
	height: 350px;
	width: 200px;
	transition: opacity 0.2s;
	display: none;
}
.vka_BlockCheckbox {
	float: left;
	transform:scale(1.3);
	opacity:0.9;
    cursor:pointer;
    margin: 5px 7px 0px 5px;
}
.vka_sectionName {
	height: 20px;
	transition: visibility 1s;
}
.vka_arrow {
	float: right;
	font-size: 17pt;
	margin: 2px 42% 0 0;
}
.vka_placeholdAnim {
	width: 100%;
	height: 2px;
	transition: height 0.2s;
}
a {
	cursor: pointer;
	color: black;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: darkgrey;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
</style>
