<style type="text/css">

/*@media (max-width: 800px) {   для разрешения экрана от 470 до 930 пикселей 
  .block {
  	display: none;
  }
}*/
.vka_content::-webkit-scrollbar{
  width: 6px;
}

/* Track */
.vka_content::-webkit-scrollbar-track{
  background: #f1f1f1;
}

/* Handle */
.vka_content::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle on hover */
.vka_content::-webkit-scrollbar-thumb:hover{
  background: #555;
}

.vka_parent {
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: auto;
	display: none;
	margin: 0 0 0 78.7%;
	padding-bottom: 2%;
	padding-right: 2%;
}

.vka_parent_display {
	display: block !important;
}

.vka_block {
	box-shadow: 1px 1px 5px grey;
	position: relative;
	border: 1px solid grey;
	margin-top: 15px;
	z-index: 5;
	background: white;
	height: 70%;
	max-width: 500px;
	max-height: 1000px;
	border-radius: 10px 10px 5px 5px;
}

.vka_block:after, .vka_block:before {
	bottom: 100.1%;
	left: 75%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.vka_block:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: white;
	border-width: 10px;
	margin-left: -10px;
}
.vka_block:before {
	border-color: rgba(216, 236, 245, 0);
	border-bottom-color: grey;
	border-width: 11px;
	margin-left: -11px;
}

.vka_content {
	font-family: cursive;
	z-index: 999;
	margin: 2% 0 0 3%;
	font-size: 12pt;
	overflow-y: scroll;
	width: 97.2%;
	height: 360px;
	overflow-x: hidden;
}
.vka_title {
	font-size: 18pt;
	font-family: cursive;
	color:black;
	border-radius: 7px 7px 0 0;
	height: 5%;
	margin: 3% 3% 5% 2%;
}
.vka_innerBlock {
	z-index: 0;
	margin-top: 1%;
	padding: 5% 0 0% 0%;
	background-color: white;
	height: 350px;
	width: 200px;
	transition: opacity 0.2s;
	display: none;
}

.vka_displayBlock {
	display: block;
}

.vka_BlockCheckbox {
	float: left;
	transform:scale(1.3);
	opacity:0.9;
    cursor:pointer;
    margin: 5px 7px 0px 5px;
}
.vka_section {
	font-size: 15pt;
	height: 20px;
	transition: visibility 1s;
}
.vka_section:hover {
	cursor: pointer;	
}
.vka_arrow {
	float: right;
	font-size: 15pt;
	margin: 1px 0 0 0;
}
.vka_placeholdAnim {
	width: 100%;
	height: 2px;
	transition: height 0.2s;
}
a {
	cursor: pointer;
	color: black;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: darkgrey;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
</style>
