

.vka_parent {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	align-content: center; 
	justify-content: center; 
	overflow: scroll;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
}

.vka_parent_flex{
	display: flex;
}

.vka_section:hover{
	cursor: pointer;
}

.vka_block {
	border: solid black;
	background: #edeef0;
	width: 50%;
	height: 50%;
	border-radius: 30px 30px 5px 5px;
}
.vka_content {
	z-index: 999;
	padding: 2% 2% 2% 2%;
	font-size: 15pt;
	overflow-y: scroll;
	width: 96.1%;
	height: 71.1%;
}
.vka_title {
	color: #edeef0;
	border-radius: 25px 25px 0 0;
	height: auto;
	background-color: black;
	padding: 14px;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 24px;
}
.vka_innerBlock {
	margin-top: 1%;
	padding: 1% 0 2% 2%;
	background-color: #f0f1f3;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	display: none;
}

.vka_label {
	margin: 5px 7px 5px 5px;
}
.vka_field {
	float: left;
	transform:scale(1.3);
	opacity:0.9;
    cursor:pointer;
    margin: 6px 2px 0px 0px;
}

.vka_displayBlock {
	display: block;
}

[class*="vka_"] a {
	color: black;
	font-family: 'Montserrat', sans-serif;
}
[class*="vka_"] a:link {
	text-decoration: none;
}
[class*="vka_"] a:hover {
	text-decoration: none;
	color: darkgrey;
}
[class*="vka_"] a:visited {
	text-decoration: none;
}
[class*="vka_"] a:active {
	text-decoration: none;
}

[class*="vka_"] label {
	font-family: 'Montserrat', sans-serif;
	color: black;
}

[class*="vka_"] form {
	margin-bottom: 0;
}
